.profile {
  composes: mt-30 from global;
  display: flex;
  gap: 60px;
}

.profile__data {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile__change {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.profile__cancel {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: #131316;
  text-decoration: none;
  color: #4c4cff;
  cursor: pointer;
}
