.ingredients__bun {
  composes: pr-8 from global;
}

.ingredients__items {
  composes: pt-6 pl-4 pb-10 from global;
  display: grid;
  grid-template-columns: repeat(2, 272px);
  justify-content: center;
  column-gap: 24px;
  row-gap: 32px;
  margin: 0;
}
