.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 640px;
}

.details__order {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  width: 640px;
  margin: 120px 0 0 0;
  padding: 0;
}

.details__title {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0 0 0;
  padding: 0;
}

.details__status {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 0 0;
  padding: 0;
  color: #00cccc;
}

.details__ingredients {
  composes: mt-15 from global;
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.details__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 320px;
  scrollbar-width: thin;
}

.details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 608px;
  margin-right: 24px;
}

.details__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.details__image {
  width: 64px;
  height: 64px;
  border: solid 2px #801ab2;
  border-radius: 50%;
  background-color: black;
  object-fit: cover;
  display: block;
}

.details__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
}

.details__date {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
}

.details__result {
  display: flex;
  align-items: center;
  gap: 8px;
}

.details__price {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 300px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
  height: 300px;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 2px solid #2f2f37;
}
