.profile__links {
  list-style: none;
  width: 320px;
  padding: 0 0 0 20px;
  margin: 0;
}

.profile__link {
  height: 64px;
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
}

.profile__link_active {
  color: #fff;
  fill: #fff;
}

.profile__link:hover {
  color: #fff;
  fill: #fff;
}
